[package]
edition.workspace = true
homepage.workspace = true
license.workspace = true
name = "exon-cli"
readme.workspace = true
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = {version = "4", features = ["derive", "cargo"]}
datafusion = {workspace = true}
datafusion-cli = "34.0.0"
exon = {path = "../exon-core", version = "0.7.1"}
tokio = {workspace = true}
