[workspace.package]
edition = "2021"
homepage = "https://www.wheretrue.dev/docs/exon/"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/wheretrue/exon"

[workspace]
members = [
  "exon",
  "exon-benchmarks",
  "exon-examples",
  "exon-cli",
]

[workspace.dependencies]
arrow = {version = "42"}
datafusion = {version = "28", features = ["default"]}
object_store = {version = "0.6.1"}
