[workspace.package]
edition = "2021"
homepage = "https://www.wheretrue.dev/docs/exon/"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/wheretrue/exon"
version = "0.5.2"

[workspace]
members = [
  "exon-benchmarks",
  "exon-cli",
  "exon-examples",
  "exon/exon-bam",
  "exon/exon-bed",
  "exon/exon-common",
  "exon/exon-core",
  "exon/exon-exome",
  "exon/exon-fasta",
  "exon/exon-fastq",
  "exon/exon-gff",
  "exon/exon-gtf",
  "exon/exon-io",
  "exon/exon-sam",
  "exon/exon-test",
]
resolver = "2"

[workspace.dependencies]
arrow = {version = "48.0.1"}
async-trait = "0.1.74"
datafusion = {version = "33", features = ["compression", "parquet"]}
futures = "0.3.29"
noodles = {version = "0.59"}
object_store = {version = "0.7.1"}
tokio = {version = "1", features = ["io-util"]}
tokio-util = {version = "0.7.10", features = ["compat"]}
url = {version = "2.5.0"}

[profile.release]
codegen-units = 1
lto = true

[profile.profiling]
debug = true
inherits = "release"

[profile.quick-bench]
debug = true
inherits = "release"
lto = false
