[workspace.package]
edition = "2021"
homepage = "https://www.wheretrue.dev/docs/exon/"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/wheretrue/exon"

[workspace]
members = [
  "exon",
  "benchmarks",
]

[workspace.dependencies]
arrow = {version = "40"}
datafusion = {version = "26", features = ["default"]}
