[workspace.package]
edition = "2021"
homepage = "https://www.wheretrue.dev/docs/exon/"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/wheretrue/exon"

[workspace]
members = [
  "exon",
  "exon-benchmarks",
  "exon-examples",
  "exon-cli",
]
resolver = "2"

[workspace.dependencies]
arrow = {version = "46"}
datafusion = {version = "31", features = ["compression"]}
object_store = {version = "0.7.1"}

[profile.release]
codegen-units = 1
lto = true

[profile.profiling]
debug = true
inherits = "release"
