# Setup localstack S3

version: '3.7'

services:
  localstack:
    image: ghcr.io/wheretrue/exon/localstack:latest
    container_name: exon_localstack
    build:
      context: .
      dockerfile: Dockerfile.localstack
    ports:
      - '4566:4566'
    environment:
      AWS_DEFAULT_REGION: us-west-2
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_ENDPOINT: http://localhost:4566
  cli:
    image: public.ecr.aws/p3a4z1t3/exon-cli
    build:
      context: .
      args:
        - CARGO_BUILD_PROFILE=debug
