[package]
description = "A crate for converting BAM files to Arrow Records"
edition.workspace = true
homepage.workspace = true
license.workspace = true
name = "exon-bam"
readme.workspace = true
repository.workspace = true
version = "0.3.8-beta.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow = {workspace = true}
futures = {workspace = true}
itertools = "0.11.0"
noodles = {version = "0.57", features = ["core", "async", "bam", "sam", "bgzf"]}
object_store = {workspace = true}
tokio = {workspace = true}
