[package]
description = "A crate for converting BAM files to Arrow Records"
edition.workspace = true
homepage.workspace = true
license.workspace = true
name = "exon-bam"
readme.workspace = true
repository.workspace = true
version = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow = {workspace = true}
exon-common = {path = "../exon-common", version = "0.5.2"}
futures = {workspace = true}
itertools = "0.12.0"
noodles = {workspace = true, features = ["core", "async", "bam", "sam"]}
noodles-bgzf = {version = "0.25.0", features = ["libdeflate"]}
object_store = {workspace = true}
tokio = {workspace = true}
