[package]
description = "A platform for scientific data processing and analysis."
edition = "2021"
exclude = [
  "test-data/*",
]
homepage = {workspace = true}
keywords = ["biology", "science", "arrow"]
license = {workspace = true}
name = "exon"
readme = {workspace = true}
version = "0.3.5"

[dependencies]
arrow = {workspace = true}
async-trait = {workspace = true}
base64 = {version = "0.21", optional = true}
byteorder = {version = "1.5.0", optional = true}
bytes = "1.5.0"
datafusion = {workspace = true}
exon-bam = {path = "../exon-bam", version = "0.3.4-beta.9"}
exon-common = {path = "../exon-common", version = "0.3.4-beta.9"}
exon-fasta = {path = "../exon-fasta", version = "0.3.4-beta.9"}
exon-gff = {path = "../exon-gff", version = "0.3.4-beta.9"}
exon-io = {path = "../exon-io", version = "0.3.4-beta.9"}
flate2 = {version = "1.0.28", optional = true}
futures = {workspace = true}
gb-io = {version = "0.7.1", optional = true}
itertools = "0.11.0"
noodles = {version = "0.56", features = ["bed", "tabix", "core", "async", "sam", "fastq", "bcf", "vcf", "bgzf", "csi", "gtf"]}
num_cpus = "1.16.0"
object_store = {workspace = true, features = ["aws"]}
pin-project = {version = "1.1.3", optional = true}
quick-xml = {version = "0.31.0", features = ["async-tokio", "serialize", "overlapped-lists"], optional = true}
serde = {version = "1", features = ["derive"], optional = true}
tokio = {workspace = true}
tokio-util = {workspace = true}
tracing = "0.1.40"
tracing-subscriber = "0.3.17"
url = {workspace = true}

[dev-dependencies]
exon-test = {path = "../exon-test", version = "0.3.4-beta.9"}
sqllogictest = "0.17.0"

[features]
all = ["ffi", "genbank", "mzml"]
fcs = ["dep:byteorder"]
ffi = ["arrow/ffi", "dep:pin-project"]
fixtures = []
genbank = ["dep:gb-io"]
mzml = ["dep:base64", "dep:flate2", "dep:quick-xml", "dep:serde", "dep:byteorder"]

[[test]]
harness = false
name = "sqllogictests"
path = "tests/sqllogictests/src/main.rs"
