name: Build R

on:
  push:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: R Build

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        r: [release]

    steps:
    - uses: actions/checkout@v3

    # If we're on macos, use brew to install lzma
    - name: Install lzma
      if: matrix.os == 'macos-latest'
      run: brew install xz

    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: 'release'

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: rcmdcheck, devtools, usethis, remotes, rextendr, arrow, nanoarrow
        working-directory: ./exon-r/exonr/

    # Use rust cache action to cache rust build process
    - uses: Swatinem/rust-cache@v2

    - shell: Rscript {0}
      working-directory: ./exon-r/exonr/
      run: |
        fn = devtools::build(binary = TRUE, args = c('--preclean'))
        print(fn)

    - name: print files
      run: print(list.files("..",recursive = TRUE,full.names=TRUE))
      shell: Rscript {0}

    # Upload the build artifact
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: exonr
        path: exon/exon-r/exonr_*.gz
