name: Build R

# Build on push to main
on:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: R Build

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        r: [release]

    steps:
    - uses: actions/checkout@v3

    - uses: ./.github/actions/r_setup

    - shell: Rscript {0}
      working-directory: ./exon-r/exonr/
      run: |
        fn = devtools::build(binary = TRUE, args = c('--preclean'))
        print(fn)

    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: exonr-${{ matrix.os }}-${{ matrix.r }}
        path: exon-r/exonr_*

    - name: print wd
      run: print(getwd())
      shell: Rscript {0}

    - name: print files
      run: print(list.files("exon-r",recursive = TRUE,full.names=TRUE))
      shell: Rscript {0}
