name: Build R

on:
  push:


jobs:
  test-build:
    runs-on: ubuntu-latest
    name: Test build

    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: 'release'
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: rcmdcheck, devtools, usethis, remotes, rextendr
        working-directory: ./exon-r/exonr/
    - shell: Rscript {0}
      working-directory: ./exon-r/exonr/
      run: |
        rextendr::document()
        devtools::load_all(".")
        read_fasta_table("../../exon/test-data/fasta/test.fa")
