name: Build CLI image

on:
  push:
    tags: v*

permissions:
  contents: read
  id-token: write

jobs:
  build-cli-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::894819748579:role/github-deploy-role
          aws-region: us-east-1

      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push the image
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            CARGO_BUILD_PROFILE=release
          push: true
          tags: public.ecr.aws/p3a4z1t3/exon-cli:latest,public.ecr.aws/p3a4z1t3/exon-cli:v0.16.0
          platforms: linux/amd64,linux/arm64
