on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

name: Release Python package

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        working-directory: ./exon-py
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      - name: Build package
        working-directory: ./exon-py
        run: hatch build

      - name: Test package
        working-directory: ./exon-py
        run: hatch run test

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./exon-py/dist
