name: Smoke Test

on:
  workflow_dispatch:

jobs:
  test-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install system dependencies and R for macOS
      if: matrix.os == 'macos-latest'
      run: brew install xz
      shell: bash

    - name: Install system dependencies for Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y liblzma-dev libcurl4-openssl-dev
      shell: bash

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: 'release'

    - name: Install R packages
      run: |
        install.packages(c("arrow", "nanoarrow"))
        install.packages("exonr", repos = c("https://wheretrue.r-universe.dev", "https://cloud.r-project.org"))
      shell: Rscript {0}

    - name: Test exonr
      shell: Rscript {0}
      run: |
        library(exonr)

        # Read in an example file
        batch_reader <- exonr::read_fasta_file("exon/test-data/datasources/fasta/test.fasta")

        # Convert to a data.frame
        batch_df <- as.data.frame(batch_reader)

        # Print the head of the dataframe
        print(head(batch_df))
