name: Test

on:
  push:

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1

      - name: run tests
        run: |
          cargo test --package exon --package exon-bam --test sqllogictests --all-features

  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and smoke test the image
        run: |
          docker build --build-arg CARGO_BUILD_PROFILE=debug -t exon:latest -f Dockerfile .
          docker run -t exon:latest exon-cli -c "SELECT 1;"

  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install aws and awslocal
        run: |
          pip install awscli
          pip install awscli-local

      - name: Run clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings

      - name: Run tests and sqllogictests
        env:
          AWS_DEFAULT_REGION: us-west-2
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_ENDPOINT_URL: http://localhost:4566
          AWS_ENDPOINT: http://localhost:4566
          AWS_ALLOW_HTTP: true
        run: |
          pwd
          ls
          bash ./bin/test.sh
